html,body{
    margin: 0;
    padding: 0;
}

.thumbnails{
    display: flex;
    max-width: 560px;
    margin: 50px auto;

}

a{
    display: block;
}

.thumbnail{
    width: 180px;
    border-radius: 5px;
    margin: 30px;
}

img{
    display: block;
}